@* @using MyTe.Models.Common
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <body >
        <h1 >Bem-Vindo ao MyTe @Utils.UsuarioLogado!.Usuario</h1> *@


        @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@*     </body>
</div> *@
