/*Menu, nav/bar*/
nav {
    background-image: linear-gradient(to right, #ff5800, #890078);
}

/*negrito do bar*/
a:hover {
    font-weight: bold;
}


/*Todas as Body */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}


/*Tabela de Horas linq*/
/*Tamanho da tabela*/
.tabelas {
    width: auto;
    color: white;
    width: 100%;
    border-collapse: collapse;
}

    /*Coluna tabela*/
    .tabelas td {
        color: black;
        padding: 8px;
        text-align: left;
    }
    /*Linha tabela*/
    .tabelas th {
        background-color: #890078;
        padding: 8px;
        text-align: left;
    }
    /*Linha alternativa da tabela*/
    .tabelas tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

/*Botões lixeira e lápis*/
i {
    font-size: 1.5rem;
    color: #ff5800;
    transition: color 0.3s ease;
}

.custom-icon:hover {
    color: #890078;
}


/*Login e Registrar */
.cor {
    background-image: linear-gradient(to right, rgba(255, 88, 0, 0.5), rgba(137, 0, 120, 1)), url('../css/Avanade Logo lines Master C3 Alpha Centered.gif');
}

.center-div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 10px 4px rgba(0,0,0,0.2); /* Sombra */
    padding: 100px;
}

.card-body {
    padding: 0; /* Remover espaço interno padrão */
}

.col-md-12 {
    background-image: url('../avanade logo lines master c4 alpha centered.gif'), linear-gradient(to right, #ff5800, #890078);
}

.control-label {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
/*Remover tela, não tá funfando por enquanto */
div.remover {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Opcional: ajusta a altura do container */
}
