
<body class="remover">
<div style="text-align: center;">
@model MyTe.Models.Entities.Funcionario

@{
    ViewData["Title"] = "Remover Funcionário";
}

<h3>Tem ceteza que deseja Remover '@Model.Nome' ?</h3>
<div>


    <form asp-action="RemoverFuncionario">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sim, remover" class="btn btn-danger" /> |
        <a asp-action="ListarFuncionarios">Não, voltar para a lista</a>
    </form>
</div>
</div>
</body>