@model MyTe.Models.Entities.WBS

@{
    ViewData["Title"] = "RemoverWBS";
}

<h3>Tem ceteza que deseja remover a área de atuação '@Model.Descricao' ?</h3>
<div>    
    <form asp-action="RemoverWBS">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Sim, remover" class="btn btn-danger" /> |
        <a asp-action="ListarWBSs">Não, voltar para a lista</a>
    </form>
</div>
