@model MyTe.Models.Entities.LancamentoDeHora

@{
    ViewData["Title"] = "Remover Hora";
}

<h3>Tem ceteza que deseja remover a hora registrada?</h3>
<div>
   
    <form asp-action="RemoverHora">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sim, remover" class="btn btn-danger" /> |
        <a asp-action="ListarHorasLINQ">Não, voltar para a lista</a>
    </form>
</div>
